html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
    display: inline-block;
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
	vertical-align: top;
}

body {
	font-family: 'font', sans-serif;/*указать в каждом из проектов отдельно*/
	height: 100%;
	font-size:16px ;/*указать в каждом из проектов отдельно*/
	color: black;/*указать в каждом из проектов отдельно*/
}

ul,
ol,
li{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: inherit;
	font-size: inherit;
}
